.pres{

    background-image: url("./images/f927ae20-2779-4191-9330-5ccb32ce2f05.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    color: white;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
    position: relative;
    z-index: 0;
   

}

.navbar{

   

    z-index: 1;
}

body{

    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh

}