.accueil{

    background-image: url("https://Nihel-DWWM.github.io/Eval/images/f927ae20-2779-4191-9330-5ccb32ce2f05.jpg");
    background-size: cover;
    background-position: center;
    
    height:500px;
    padding-top: 40px;
    color: white;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
    position: relative;
    /* z-index: 0; */
    overflow: hidden;
   

}

.navbar{

   
    position: absolute;
    z-index: 1;
}

body{

    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box; 
  
}

.barre{
    

    position: absolute

}  
form {
    background-color: rgba(234, 236, 240, 0.6); 
    border-radius:0 px;
}


form input,
form select,
form button {
    background-color: #fff; 
}

#navbarMenu {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cursor-pointer {
  cursor: pointer !important;
}

@media (max-width: 992px) {
  .accueil {
    background-position: left center; 
    background-size: 200%; 
  }
}

@media (max-width: 768px) {
  .accueil {
    background-position: left center; 
    background-size: 300%; 
  }
  #car{
    max-width: 200px;
  }
}



